.containerProject {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.boxProject {
    width: 600px;
    height: 400px;
    border-radius: 3%;
    background-color: #121212;
    box-shadow: 0px 0px 50px 5px #7144a457;
}

.containerTextProject {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 10%;
}

.textHeaderProject {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 120px;

    color: #ececec;
}

.textTitleProject {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;

    color: #ececec;
}

tools {
    margin: 3% 0% 3% 5%;
}

.textReadMore {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    margin-top: 2%;
    text-decoration: underline 1px #ececec;

    color: #ececec;
}

.textTools {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    margin-top: 2%;

    color: #ececec;
}

.containerButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 0% 0% 10%;
}

.button {
    width: 45%;
    height: 50px;
    background-color: #ececec;
    border-radius: 10px;
}

li{
    color: #ececec;
}