html {
  scroll-behavior: smooth;
  background-color: #121212;
}

.containerFirst {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10% 10% 0% 10%;
}

.nameText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 5.6px;
  text-transform: uppercase;
  color: #878A8F;
  margin-bottom: 4%;
}

.titleText {
  width: 600px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  /* or 129% */

  letter-spacing: 0.72px;

  color: #ececec;
  margin-left: -0.1%;
  margin-bottom: 0%;
}

.subText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* or 136% */

  color: #878A8F;
  margin-bottom: 2%;
  text-align: justify;
}

.containerForm{
  display: flex;
  margin: 0% 0% 0% 10%;
}

.formRow{
  display: flex;
  flex-wrap: wrap;
}

.formColumn{
  display: flex;
  flex-direction: column;
}

.formRow>.firstInput{
  flex: 1 1 400px;
}

.firstInput{
  height: 50px;
  width: 90%;
  font-size: 20px;
  padding: 3%;
}

.firstInput:first-child{
  margin-right: 3%;
}

.secondInput{
  height: 50px;
  width: 100%;
  margin: 3% 0% 3% 0%;
  font-size: 20px;
  padding: 3%;
}

.lastInput{
  max-height: 300px;
  min-height: 300px;
  max-width: 100%;
  min-width: 100%;
  margin: 0% 0% 5% 0%;
  padding: 3%;
  font-size: 20px;
}

.submitInput{
  height: 50px;
  width: 192px;
  margin: 0% 0% 5% 0%;
  font-family: 'Poppins';
  font-size: 15px;
  border: 2px solid #7044a4;
  color: #7044a4;
  background-color: #121212;
}

input, textarea{
  background-color: #ececec;
  border: 0;
  color: #121212;
  font-family: 'Poppins';
}

@media screen and (max-width: 480px) {

  .containerFirst {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50% 10% 0% 10%;
  }

  .containerTextProject {
    width: 300px;
    margin-left: 0%;
  }

  .projectContainerHome {
    margin-top: 50%;
  }

  .boxProject1 {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: url('../assets/tcc1.png');
    box-shadow: 0px 0px 50px 5px #00488b;
  }

  .boxProject2 {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: url('../assets/tcc2.png');
    box-shadow: 0px 0px 50px 5px #00488b;
  }

  .boxProject3 {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 5px #7144a457;
  }

  .nameText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    /* or 143% */
  
    letter-spacing: 5.6px;
    text-transform: uppercase;
    color: #878A8F;
    margin-bottom: 4%;
  }
  
  .titleText {
    width: 350px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    /* or 87% */
  
    letter-spacing: 0.70px;
  
    color: #ececec;
    margin-left: -0.5%;
    margin-bottom: 1%;
  }
  
  .subText {
    min-width: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* or 136% */
  
    color: #878A8F;
    margin-bottom: 2%;
    text-align: justify;
  }

  .containerForm{
    display: flex;
    flex-direction: column;
    margin: 5% 10% 0% 10%;
  }

  .formRow{
    display: flex;
    flex-direction: row;
  }

  .formRow{
    display: flex;
    flex-wrap: wrap;
  }
  
  .formRow>.firstInput{
    flex: 1 1 1000px;
  }
  
  .firstInput{
    height: 50px;
    font-size: 20px;
    padding: 3%;
  }
  
  .firstInput:first-child{
    margin-right: 0%;
    margin-bottom: 3%;
  }

  .submitInput{
    height: 50px;
    width: 100%;
    margin: 0% 0% 10% 0%;
    font-family: 'Poppins';
    font-size: 15px;
    border: 2px solid #7044a4;
    color: #7044a4;
    background-color: #121212;
  }
}