.containerForm{
  display: flex;
  margin: 0% 10% 0% 10%;
  align-items: center;
}

.formRow{
  display: flex;
  flex-wrap: wrap;
}

.formColumn{
  display: flex;
  flex-direction: column;
}

.formRow>.firstInput{
  flex: 1 1 400px;
}

.firstInput{
  height: 50px;
  width: 90%;
  font-size: 20px;
  padding: 3%;
}

.firstInput:first-child{
  margin-right: 3%;
}

.secondInput{
  height: 50px;
  width: 100%;
  margin: 3% 0% 3% 0%;
  font-size: 20px;
  padding: 3%;
}

.lastInput{
  max-height: 300px;
  min-height: 300px;
  max-width: 100%;
  min-width: 100%;
  margin: 0% 0% 5% 0%;
  padding: 3%;
  font-size: 20px;
}

.submitInput{
  height: 50px;
  width: 192px;
  margin: 0% 0% 5% 0%;
  font-family: 'Poppins';
  font-size: 15px;
  border: 2px solid #7044a4;
  color: #7044a4;
  background-color: #121212;
}

input, textarea{
  background-color: #ececec;
  border: 0;
  color: #121212;
  font-family: 'Poppins';
}

@media screen and (max-width: 1040px) {
  .formRow>.firstInput{
    flex: 1 1 1000px;
  }
  .firstInput:first-child{
    margin-right: 0%;
    margin-bottom: 3%
  }
}

@media screen and (max-width: 480px) {
  .containerForm{
    display: flex;
    flex-direction: column;
    margin: 5% 10% 0% 10%;
  }

  .formRow{
    display: flex;
    flex-direction: row;
  }

  .formRow{
    display: flex;
    flex-wrap: wrap;
  }
  
  .formRow>.firstInput{
    flex: 1 1 1000px;
  }
  
  .firstInput{
    height: 50px;
    font-size: 20px;
    padding: 3%;
  }
  
  .firstInput:first-child{
    margin-right: 0%;
    margin-bottom: 3%;
  }

  .submitInput{
    height: 50px;
    width: 100%;
    margin: 0% 0% 10% 0%;
    font-family: 'Poppins';
    font-size: 15px;
    border: 2px solid #7044a4;
    color: #7044a4;
    background-color: #121212;
  }
}
