html {
    scroll-behavior: smooth;
}

body,
ul {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.header {
    box-sizing: border-box;
    margin: 0% 10% 0% 10%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

.menu a {
    padding: 0.5rem;
}

.menu a {
    padding: 1rem 0;
    margin: 0 1rem;
}

svg {
    color: #ececec;
}

svg:hover {
    color: #7044a4;
}

.contactButton {
    width: 100px;
    background-color: #7044a4;
    height: 35px;
    border-radius: 100px;
    font-family: 'Poppins';
    color: #ececec;
}

.contactText{
    font-family: 'Poppins';
    color: #ececec;
    font-size: 15px;
}

img {
    display: block;
    margin: auto;
    width: 50px;
}

.mobile-menu{
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #ececec;
    margin: 8px;
}

@media screen and (max-width: 480px) {
    body{
        overflow-x: hidden;
    }
    .menu a {
        padding: 1rem 0;
        margin: 0 0rem;
    }
    .nav{
        position: absolute;
    }
    .nav li{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
}
