html {
  scroll-behavior: smooth;
  background-color: #121212;
}

.containerFirstHome {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10% 10% 0% 10%;
}

.nameTextHome {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 5.6px;
  text-transform: uppercase;
  color: #878A8F;
  margin-bottom: 4%;
}

.titleTextsHome {
  width: 650px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 75px;
  /* or 87% */

  letter-spacing: 0.70px;

  color: #ececec;
  margin-left: -0.5%;
  margin-bottom: 1%;
}

.subTextHome {
  min-width: 675px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* or 136% */

  color: #878A8F;
  margin-bottom: 2%;
  text-align: justify;
}

.containerNavSubHome {
  justify-content: space-evenly;
}

.subTextNavHome {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  /* or 90% */

  color: #ececec;
}

.subTextNavHome:hover {
  color: #7044a4;
}

.subTextNavOrHome {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  /* or 90% */

  color: #878A8F;
  margin: 0% 2% 0% 2%;
}

.projectContainerHome {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  flex-direction: column;
}

.projectTopTextHome {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 45px;
  /* identical to box height */


  color: #ececec;
}











.containerProject {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.boxProject1 {
  width: 30%;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 5px #00488b;
}

.foto {
  min-width: 100%;
  min-height: 100%;
  border-radius: 20px;
}


.boxProject2 {
  width: 600px;
  height: 400px;
  border-radius: 20px;
  background: url('../assets/tcc2.png');
  box-shadow: 0px 0px 50px 5px #00488b;
}

.boxProject3 {
  width: 600px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 5px #7144a457;
}

.containerTextProject {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  width: 400px;
}

.textHeaderProject {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 70px;

  color: #ececec;
}

.textTitleProject {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;

  color: #ececec;
}

.textReadMore {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  margin-top: 2%;
  text-decoration: underline 1px #ececec;

  color: #ececec;
}

.textTools {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  margin-top: 2%;

  color: #ececec;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
}

.button {
  font-family: 'Poppins';
  width: 45%;
  height: 50px;
  background-color: #ececec;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
}

li {
  color: #ececec;
}

.tools {
  margin: 0% 0% 5% 5%;
}

.containerCta {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.textHeaderCta {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 5.6px;
  text-transform: uppercase;

  color: #878A8F;

}

.textCta {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  line-height: 75px;
  /* or 94% */

  letter-spacing: 0.12px;
  color: #ececec;
}

.textCta:hover {
  text-decoration: underline 5px #ececec;
}

.containerContact {
  display: flex;
  width: 35%;
  margin: 2% 0% 0% 0%;
  justify-content: space-evenly;
}

button {
  border: 0;
  background-color: #121212;
}

svg {
  color: #ececec;
}

svg:hover {
  color: #7044a4;
}

@media screen and (max-width: 480px) {

  .containerFirstHome {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50% 10% 0% 10%;
  }

  .containerTextProject {
    width: 300px;
    margin-left: 0%;
  }

  .projectContainerHome {
    margin-top: 50%;
  }

  .boxProject1 {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: url('../assets/tcc1.png');
    box-shadow: 0px 0px 50px 5px #00488b;
  }

  .boxProject2 {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: url('../assets/tcc2.png');
    box-shadow: 0px 0px 50px 5px #00488b;
  }

  .boxProject3 {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 5px #7144a457;
  }

  .nameTextHome {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 5.6px;
    text-transform: uppercase;
    color: #878A8F;
    margin-bottom: 4%;
  }

  .titleTextsHome {
    width: 250px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    /* or 87% */

    letter-spacing: 0.70px;

    color: #ececec;
    margin-left: -0.5%;
    margin-bottom: 1%;
  }

  .subTextHome {
    min-width: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* or 136% */

    color: #878A8F;
    margin-bottom: 2%;
    text-align: justify;
  }

  .subTextNavHome {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    /* or 90% */

    color: #ececec;
  }

  .subTextNavHome:hover {
    color: #7044a4;
  }

  .subTextNavOrHome {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* or 90% */

    color: #878A8F;
    margin: 0% 2% 0% 2%;
  }

  .textHeaderProject {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    color: #ececec;
  }

  .textTitleProject {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #ececec;
  }

  .textTools {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #ececec;
  }

  .tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin: 0% 0% 5% 0%;
  }

  .containerButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 10% 0% 10%;
  }

  .textCta {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 75px;
    /* or 94% */

    letter-spacing: 0.12px;
    color: #ececec;
  }

  .textHeaderCta {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 5.6px;
    text-transform: uppercase;

    color: #878A8F;

  }

  .containerProject {
    flex-direction: column;
  }

  .containerNavSubHome {
    min-width: 240pxnom
  }
}

@media screen and (max-width: 768px) {

  .containerFirstHome {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 30% 10% 0% 10%;
  }

  .containerTextProject {
    width: 300px;
    margin-left: 0%;
  }

  .projectContainerHome {
    margin-top: 50%;
  }

  .boxProject1 {
    width: 600px;
    height: 400px;
    border-radius: 20px;
    background: url('../assets/tcc1.png');
    box-shadow: 0px 0px 50px 5px #00488b;
  }

  .boxProject2 {
    width: 600px;
    height: 400px;
    border-radius: 20px;
    background: url('../assets/tcc2.png');
    box-shadow: 0px 0px 50px 5px #00488b;
  }

  .boxProject3 {
    width: 600px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 5px #7144a457;
  }

  .nameTextHome {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 5.6px;
    text-transform: uppercase;
    color: #878A8F;
    margin-bottom: 4%;
  }

  .titleTextsHome {
    width: 350px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    /* or 87% */

    letter-spacing: 0.70px;

    color: #ececec;
    margin-left: -0.5%;
    margin-bottom: 1%;
  }

  .subTextHome {
    min-width: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* or 136% */

    color: #878A8F;
    margin-bottom: 2%;
    text-align: justify;
  }

  .subTextNavHome {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    /* or 90% */

    color: #ececec;
  }

  .subTextNavHome:hover {
    color: #7044a4;
  }

  .subTextNavOrHome {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* or 90% */

    color: #878A8F;
    margin: 0% 2% 0% 2%;
  }

  .textHeaderProject {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    color: #ececec;
  }

  .textTitleProject {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #ececec;
  }

  .textTools {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #ececec;
  }

  .tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin: 0% 0% 5% 0%;
  }

  .containerButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 10% 0% 10%;
  }

  .textCta {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 75px;
    /* or 94% */

    letter-spacing: 0.12px;
    color: #ececec;
  }

  .textHeaderCta {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 5.6px;
    text-transform: uppercase;

    color: #878A8F;

  }

  .containerProject {
    flex-direction: column;
  }

  .containerNavSubHome {
    min-width: 240pxnom
  }
}


.containerInformations {
  display: flex;
  flex-direction: column;
}