html {
  scroll-behavior: smooth;
  background-color: #121212;
}

.container {
  min-height: calc(var(--vh, 1vh)*100);
}

.container-main {
  display: flex;
  flex-direction: column;
}

.containerFirst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}

.projectContainer {
  display: flex;
  width: 100%;
  min-height: 10vh;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.nameText {
  margin: 0% 10% 0% 10%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 5.6px;
  text-transform: uppercase;
  color: #878A8F;
}

.titleText {
  margin: 0% 0% 1% 10%;
  max-width: 85vh;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 75px;
  /* or 87% */

  letter-spacing: 0.70px;

  color: #ececec;

}

.subText {
  margin: 0% 10% 0% 10%;
  max-width: 100vh;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* or 136% */

  color: #878A8F;
  margin-bottom: 2%;
  text-align: justify;
}

.containerNavSub {
  justify-content: space-evenly;
  margin: 0% 10% 0% 10%;
}

.subTextNav {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  /* or 90% */

  color: #ececec;
}

.subTextNav:hover {
  color: #7044a4;
}

.subTextNavOr {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  /* or 90% */

  color: #878A8F;
  margin: 0% 1% 0% 1%;
}

.projectTopText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 45px;
  /* identical to box height */


  color: #ececec;
}

.containerProject {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex-direction: row;
  margin: 0% 10% 0% 10%;
}

.boxProject1 {
  width: 35em;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 5px #00488b;
}

.foto {
  min-width: 100%;
  min-height: 100%;
  border-radius: 20px;
}


.boxProject2 {
  width: 35em;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 5px #00488b;
}

.boxProject3 {
  width: 35em;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 5px #7144a457;
}

.containerTextProject {
  display: flex;
  flex-direction: column;
}

.textHeaderProject {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 70px;

  color: #ececec;
}

.textTitleProject {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;

  color: #ececec;
}

.textReadMore {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  margin-top: 2%;
  text-decoration: underline 1px #ececec;

  color: #ececec;
}

.textTools {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  margin-top: 2%;

  color: #ececec;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  font-family: 'Poppins';
  width: 45%;
  height: 50px;
  background-color: #ececec;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
}

li {
  color: #ececec;
}

.tools {
  margin: 0% 0% 5% 5%;
}

.containerCta {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0% 10% 0% 10%;
}

.textHeaderCta {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 5.6px;
  text-transform: uppercase;

  color: #878A8F;

}

.textCta {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  line-height: 75px;
  /* or 94% */

  letter-spacing: 0.12px;
  color: #ececec;
}

.textCta:hover {
  text-decoration: underline 5px #ececec;
}

.containerContact {
  display: flex;
  width: 45em;
  margin: 2% 0% 0% 0%;
  justify-content: space-evenly;
}

button {
  border: 0;
  background-color: #121212;
}

svg {
  color: #ececec;
}

svg:hover {
  color: #7044a4;
}

.containerInformations {
  width: 30em;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1104px) {
  .containerProject {
    flex-direction: column;
  }

  .containerInformations {
    width: 35em;
  }

  .textCta {
    font-weight: 800;
    font-size: 5.7vw;
    letter-spacing: 0.12px;
    color: #ececec;
    line-height: 15px;
  }

  .textHeaderCta {
    font-size: 1.2vw;
    letter-spacing: 0.5vw;
  }
  
  .containerContact {
    width: 55vw;
  }

  .boxProject1 {
    width: 35em;
    margin: 0% 10% 0% 10%;
  }

  .boxProject2 {
    width: 35em;
    margin: 0% 10% 0% 10%;
  }

  .boxProject3 {
    width: 35em;
    margin: 0% 10% 0% 10%;
  }
}

@media screen and (max-width: 840px) {
  .nameText {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 5.6px;
    text-transform: uppercase;
    color: #878A8F;
  }

  .titleText {
    margin: 0% 0% 1% 10%;
    font-size: 10vw;
    line-height: 10vw;
    /* or 87% */

    letter-spacing: 0.70px;

    color: #ececec;

  }

  .subText {
    margin: 0% 10% 0% 10%;
    max-width: 60vh;
    font-size: 20px;
    line-height: 25px;
    /* or 136% */

    color: #878A8F;
    margin-bottom: 2%;
    text-align: justify;
  }

  .subTextNav {
    font-size: 20px;
    line-height: 18px;
    /* or 90% */

    color: #ececec;
  }

  .subTextNavOr {
    font-size: 20px;
    line-height: 18px;
    /* or 90% */

    color: #878A8F;
    margin: 0% 2% 0% 2%;
  }

  .textHeaderCta {
    font-size: 1.5vw;
    letter-spacing: 0.5vw;
  }

  .containerContact {
    width: 60vw;
  }

  .textCta:hover {
    text-decoration: underline 4px #ececec;
  }
}

@media screen and (max-width: 636px) {
  .titleText {
    max-width: 60vh;
    font-size: 9vw;
    line-height: 10vw;
    letter-spacing: 0.70px;
  }

  .boxProject1 {
    width: 80vw;
  }

  .boxProject2 {
    width: 80vw;
  }

  .boxProject3 {
    width: 80vw;
  }

  .containerInformations {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }

  .textHeaderProject {
    font-weight: 400;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
  }

  .textTitleProject {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
  }

  .textHeaderCta {
    font-size: 2vw;
    line-height: 20px;

    letter-spacing: 3px;
  }

  .textCta {
    font-weight: 800;
    font-size: 5.7vw;
    letter-spacing: 0.12px;
    color: #ececec;
    line-height: 15px;
  }

  .containerContact {
    width: 80vw;
  }

  .textCta:hover {
    text-decoration: underline 3px #ececec;
  }
}