
.containerSkills{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0% 10% 0% 10%;
}

.boxSkill{
  display: flex;
  width: 20vw;
  flex-direction: column;
  height: 35vh;
  background-color: #121212;
  justify-content: center;
  padding: 3%;
}

.textSkill{
  font-size: 20px;
  text-align: center;
  margin-top: 5%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: #ececec;
}

@media screen and (max-width: 840px) {
  .containerSkills{
    margin: 10%;
  }
  .containerSkills>.boxSkill{
    flex: 1 1 250px;
  }
  .boxSkill{
    width: 10px;
    height: 25vh;
  }
}