@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font: 14px 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

section{
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ececec; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7044a4; 
}

::-moz-selection { /* Code for Firefox */
  color: #ececec;
  background: #7044a4;;
}

::selection {
  color: #ececec;
  background: #7044a4;
}
